body {
  background:#9bb9e5;
  color: #333;
  padding: 100px;
}

label {
  display: flex;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 0.7rem;
  padding-left: 1%;
  color: rgb(4, 22, 102);
  border-radius: 50px;
  inline-size: 150px;
  white-space: nowrap;
}

input[type="text"] {
  background: transparent;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  color: #d37a7a;
  font-size: 1.4rem;
}

.tip{
  padding: 0px;
  font-size: 1.4rem;
  color: #05aa37;
}

.summary {
  background: #9bb9e5;
  padding: 10px;
  display: inline-flex;
  justify-content: space-between;
  font-size: 1.7rem;
}

.summary label {
  line-height: 0.8rem;
}

.split-control {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-bottom: 1%;
  padding-top: 4%;
}

.split-control span {
  display: block;
  padding: 0 3px;
  font-size: 1.9rem;
}

.split button {
  background-color: #3e99e4;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 30%;
  max-width: 30px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.split button:ocus {
  outline: 0;
}

.split button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.split button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .split button {
    padding: .75rem 3rem;
    font-size: 1.rem;
  }
}

.result {
  text-align: left;
  padding: 0 15px;
  color: #05aa37;
  
}

main {
  width: 200px;
  margin: 20px auto;
}